// Footer-bottomline

.footer-bottomline {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-bottomline__logo {
  width: 128px;
  height: 24px;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }
}

.footer-bottomline__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: min-content;
  }
}

.footer-bottomline__copyright-link {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  min-width: 114px;
  padding-right: 22px;
  color: @special_dark-grey;
  text-transform: none;
}

.footer-bottomline__copyright-link-logo {
  width: 27px;
  height: 34px;
}
