// How-it-works

.how-it-works {
  padding-top: 27px;
  padding-bottom: 40px;

  @media (min-width: @tablet-width) {
    padding-top: 45px;
    padding-bottom: 47px;
  }
}

.how-it-works__title {
  padding-bottom: 38px;

  @media (min-width: @tablet-width) {
    padding-bottom: 32px;
  }
}

.how-it-works__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 60px);
  gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.how-it-works__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  min-width: 250px;
  min-height: auto;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    min-width: 230px;

    svg {
      width: 80px;
      height: 80px;
    }
  }
}

.how-it-works__text {
  margin: 0;
  font-family: "Arial", sans-serif;
  color: @special_dark-grey;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    width: 245px;
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
  }
}
