// Main-footer

.main-footer {
  background-color: @basic_white;

  &--form,
  &--catalog {
    background-color: @basic_grey;
  }

  @media (min-width: @tablet-width) {
    background-color: @basic_grey;
  }
}
