// Map

.map {
  @media (min-width: @desktop-width) {
    background-color: @basic_grey;
  }
}

.map__headline {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @desktop-width) {
    width: 570px;
    background-color: @basic_white;
  }
}

.map__invitation {
  font-size: 16px;
  text-transform: uppercase;
}

.map-footer__adress {
  line-height: 20px;
  color: @special_dark-grey;
}

.map__img {
  display: block;
  margin: auto;
}
